.col-border{
    text-align: center;
}
.col-1{
    display: grid;
    grid-template-columns: 1fr;

}
.col-2{
    display: grid;
    grid-template-columns: 1fr;

}
.col-3{
    display: grid;
    grid-template-columns: 1fr;

}
.col-4{
    display: grid;
    grid-template-columns: 1fr;

}
.col-5{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (mid-width: 30em) {
    
}