.boton-section{
    border: dashed black;
    height: 450px;
    margin: auto;
    padding: 10px;
}
.boton-boton{
    margin: auto;
    margin-top: 250px;
    height: 75px;
    width: 50%;
    text-align: center;
    background-color: rgb(251, 177, 60);
    color: rgb(47, 33, 131);
}
.boton-boton:hover{
    background-color: rgb(230, 177, 60);
}