.main-color{
    background-color: rgb(71, 244, 255);
}
.sing{
    background-color: rgb(47, 33, 131);
}
menu{
    background-color: rgb(251, 177, 60);
}
.second-color{
    background-color: rgb(216, 17, 89);
}