.col-border div{
    border: dashed #943333;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.5em 0;
}
.col-1{
    display: grid;
    grid-template-columns: 1fr;

}
.col-2{
    display: grid;
    grid-template-columns: 1fr;

}
.col-3{
    display: grid;
    grid-template-columns: 1fr;

}
.col-4{
    display: grid;
    grid-template-columns: 1fr;

}
.col-5{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (mid-width: 30em) {
    
}