.boton-section{
    height: 450px;
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
    background-image: url("/website/images/sun\ air\ plane.jpg") ;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 100em 100%;
}
.boton-boton{
    margin: auto;
    margin-top: 250px;
    height: 75px;
    width: 50%;
    text-align: center;
    background-color: rgb(251, 177, 60);
    color: rgb(47, 33, 131);
}
.boton-boton:hover{
    background-color: rgb(230, 177, 60);
}
.text{
    text-align: left;
    margin: 25px;
}
.img-text{
    width: 500px; 
    height: 333px;
}
@media screen and (min-width: 84em) {
    .boton-section{
        width: 70%;
    }
}

