button{
    border: none;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Calibri Light','Gill Sans','Open Sans';
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(71, 244, 255)
}
header{
    color: rgb(47, 33, 131);
}
.main-section{
    background-color: white ;
    text-align: center;
}
.selection{
    background-color:rgb(251, 177, 60) ;
    color: rgb(47, 33, 131);
}
.sel-button{
    height: 25px;
    background-color: rgb(251, 177, 60);
    color: rgb(47, 33, 131);

}
.sel-button:hover{
    background-color: rgba(230, 176, 60, 0.6);
}
footer{
    padding: 1em;
}
.space{
    padding: 100px 0 ;
}