.accord-col{
    
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    margin-right: 1em;
}
.col-border{
    text-align: center;
}
.col-1{
    display: grid;
    grid-template-columns: 1fr;

}
.col-2-text{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10em;
    margin-right: 1em;
}
.col-3-footer{
    display: grid;
    grid-template-columns: 1fr;
    }
    .col-4-table{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
.col-5{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.col-7-acLink{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    margin-right: 1em;
}
@media screen and (min-width: 30em) {
    
}
@media screen and (min-width: 48em) {
    .col-5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .col-2-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .accord-col{
        grid-template-columns: 1fr 1fr;
    }
    .col-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-3-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-4-table{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-width: 80em) {
    .col-2-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .accord-col{
        grid-template-columns: 1fr 1fr;
    }

    .col-4-table{
        margin-left: 5em;
        margin-right: 5em;
        
    }
}